<div>
  <h1>event-list</h1>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" (click)="goCreate()">+ เพิ่มรายการ</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ชื่อ</th>
        <th>นามสกุล</th>
        <th>เบอร์โทร</th>
        <th>ที่อยู่</th>
        <th>เหตุการณ์</th>
        <th>เวลาแจ้งเหตุ</th>
        <th>สาเหตุ</th>
        <th>วิธีการแก้ไข</th>
        <th>สถานะ</th>
        <th>เวลาเปลี่ยนสถานะ</th>
      </tr>
    </thead>
  </table>
</div>
